body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f00000, #feb47b);
    margin: 0;
    font-family: 'Calibri', sans-serif;
}

.container {
    text-align: center;
}

.heart {
    position: relative;
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #ff0022, #ff8c00);
    transform: rotate(-45deg);
    margin: 20px auto;
    animation: beat 1s infinite;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.heart:before,
.heart:after {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: linear-gradient(to right, #ff0000, #ff8c00);
    border-radius: 50%;
}

.heart:before {
    top: -60px;
    left: 0;
}

.heart:after {
    left: 60px;
    top: 0;
}

.message {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards 1.5s; /* Delay animation to show after heart */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes beat {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}